.row.justify-content-center
  .col-md-6
    = simple_form_for([:admins, category]) do |f|
      .form-inputs
        = f.input :name, autofocus: true

      .form-actions.text-center
        = f.button :submit, class: 'btn btn-outline-primary mt-3'
        = link_to 'キャンセルする', admins_categories_path, class: 'btn btn-link mt-3'
