%h2.text-center.mb-3 未開催イベント一覧

.row.justify-content-center
  .col-md-6
    - if @events.exists?
      - @events.preload(:user, :category).each do |event|
        = render 'events/event-card', event:
    - else
      %p.text-center 開催予定のイベントはありません。
